@model LoginViewModel

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="loginModalLabel">Logowanie</h5> <!-- Zmieniono kolor na czarny -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="text-center text-black">Logowanie</h6> <!-- Zmieniono kolor na czarny -->
                <form method="post" action="/Account/Login">
                    <table class="table table-borderless">
                        <tr>
                            <td>Login:</td>
                            <td>
                                <input type="text" class="form-control" id="loginUsername" name="Username" placeholder="Shrek" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Hasło:</td>
                            <td>
                                <input type="password" class="form-control" id="loginPassword" name="Password" required>
                            </td>
                        </tr>
                    </table>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Logowanie</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p>Nie masz konta? <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">Zarejestruj się tutaj</a>.</p>
            </div>
        </div>
    </div>
</div>